body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe Ui', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -b button
   -l label
   -f form
   -d dropdown
*/

/*Head*/

.header{
    max-width: 100%;
    background-color: rgb(51, 49, 56);
    color: white;
    padding-left: 25px;
}

.header h1{
    width: 20%;
}

.user_info{
    display: flex;
    align-items: center;
}

.user_info-d{
    margin:10px;
}

#header-b{
    margin-left: 25px;
}

.header-f{
    padding-top: 12px; 
}

.header-f > form{
    padding: 0px;
}


/*Info*/

/* .info{
    max-width: 400px;
} */


/*Foot*/

.footer{
    max-width: 100%;
    background-color: rgb(51, 49, 56);
    color: white;
    text-align: right;
    margin-top: auto;
}


/*Main*/

.main_item{
    margin-top: 30px;
}

#wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*error*/

p.error {
    color: red;
}

p.success {
    color: green;
}


/*BBS*/

.Contributor{
    margin-bottom: 10px;
}

.Context{
    margin-bottom: 15px;
}

#vip_title{
    color: green;
}

.bbs_form{
    margin: initial;
}

#bbs_link{
    color: rgb(39, 112, 223);
}

#bbs_link:hover{
    text-decoration: underline;
    cursor : pointer;
}