.center {
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.26);
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.login-a {
    text-align: right;
    color: #1A73E8;
}